@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura', sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Futura-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Futura', sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Futura-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Futura', sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Futura-Bold.ttf') format('ttf');
}

@layer base {
  html {
    @apply font-futura;
  }
}
*:focus {
  outline: none;
}
body {
  width: 100vw;
  max-width: 100%;
}
